/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 *= require_self
 *= require_tree .
 */
.remove_facet {
  float: right;
}
.facets {
  li {
    cursor: pointer;
    text-decoration: underline;
    &.selected {
      text-decoration: none;
    }
  }
}

#movies-meta {
  margin-bottom: 20px;
}
#movies {
  tr {
    cursor: pointer;
    &.no_cursor {
      cursor: auto;
    }
  }
}

.paging {
  margin-bottom: 20px;
}
